@import "styles";

.side-bar {
    $side-bar-right-padding: 2.5rem;
    background-color: $deep-purple-900;
    width: 20rem;
    height: 100%;
    transition-duration: 2s;
    margin-left: -20rem;
    position: relative;
    border-right: 2.5px solid rgba($color: $gray-100, $alpha: 0.1);

    &.is-logined {
        margin-left: 0;
    }

    .title-area {
        margin-top: 3rem;
        margin-bottom: 3rem;

        h1 {
            font-size: 1.3rem;
            color: rgba($color: white, $alpha: 0.9);
            padding-left: $side-bar-right-padding;
        }
    }

    h2 {
        font-size: 0.9rem;
        color: $gray-200;
        font-weight: 700;
        padding: 0 $side-bar-right-padding;
    }

    .main-box-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $amber-700;
        margin: 0 0.7rem;
        margin-bottom: 2rem;
        padding: 0.3rem;

        .move-to-main-btn {
            display: flex;
            align-items: center;
        }

        .best-list-icon {
            border-radius: 50%;
            padding: 4px;
            color: $yellow-500;
            margin-right: 0.5rem;
        }

        h3 {
            font-size: 0.9rem;
            font-weight: 500;
            color: $gray-100;
        }

        .drop-down-btn {
            color: $gray-600;
        }
    }

    .category-item {
        margin: 5px 0.7rem;
        color: rgba($color: $gray-200, $alpha: 0.5);
        // color: $gray-200;
        font-weight: 600;
        border-radius: 1.1rem;
        cursor: pointer;

        &:hover {
            color: $gray-100;
        }

        &.active {
            color: $gray-100;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -1rem;
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: $amber-800;
                border-radius: 50%;
            }

            .active-icon {
                font-size: 1.5rem;
            }

            .category-icon {
                color: $amber-800;
            }
        }

        .item-inner {
            display: flex;
            align-items: center;
            padding: 0.7rem 2rem;
        }

        p {
            margin-left: 1rem;
            font-size: 0.9rem;
        }

        .category-icon {
            font-size: 1.5rem;
        }
    }

    .move-to-new-drawer-page {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 0.7rem 3rem;
        border: 2px solid $amber-800;
        border-radius: 1rem;
        color: $amber-900;
        font-weight: 700;
        white-space: nowrap;
        cursor: pointer;

        .add-drawer-icon {
            margin-right: 0.3rem;
            font-size: 1.4rem;
        }

        &:hover {
            background-color: $amber-800;
            color: $gray-50;
        }
    }
}
