@import "styles";

.side-bar {
    $side-bar-right-padding: 2.5rem;
    background-color: $deep-purple-900;
    width: 20rem;
    height: 100%;
    position: relative;
    border-right: 2.5px solid rgba($color: $gray-100, $alpha: 0.1);

    @include mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 18rem;
        transform: translateX(-100%);
        z-index: 100;
        transition: transform 1s;

        &.show-mobile-side-menu {
            transform: translateX(0);
        }
    }

    .mobile-side-menu-btn {
        display: none;
        position: absolute;
        top: 0.5rem;
        right: 0;
        transform: translateX(130%);
        border: 3px solid $amber-700;
        // background-color: $deep-purple-900;
        background-color: rgba($color: $deep-purple-900, $alpha: 0.7);
        color: $amber-700;
        border-radius: 0.7rem;

        @include mobile {
            display: inline-block;
        }
    }

    .title-area {
        margin-top: 3rem;
        margin-bottom: 3rem;

        h1 {
            font-size: 1.3rem;
            color: rgba($color: white, $alpha: 0.9);
            padding-left: $side-bar-right-padding;
        }
    }

    h2 {
        font-size: 0.9rem;
        color: $gray-200;
        font-weight: 700;
        padding: 0 $side-bar-right-padding;

        @include mobile {
            font-size: 0.8rem;
        }
    }

    .main-box-area {
        display: flex;
        align-items: center;
        margin: 0 0.7rem;
        margin-bottom: 2rem;

        .move-to-main-btn {
            display: flex;
            align-items: center;
            padding: 0.7rem 2rem;
            border: 2px solid $amber-700;
            border-radius: 0.8rem;
            width: 100%;
        }

        .best-list-icon-wrapper {
            color: $amber-400;
            margin-right: 0.5rem;
            position: relative;
            top: 1px;
        }

        .best-list-icon {
            @include mobile {
                font-size: x-large;
            }
        }

        h3 {
            font-size: 0.9rem;
            font-weight: bold;
            color: $gray-100;

            @include mobile {
                font-size: 1.2rem;
            }
        }

        // .drop-down-btn {
        //     color: $gray-600;
        // }
    }

    .category-item {
        margin: 5px 0.7rem;
        color: rgba($color: $gray-200, $alpha: 0.5);
        font-weight: 600;
        border-radius: 1.1rem;
        cursor: pointer;

        &:hover {
            color: $gray-100;
        }

        &.active {
            color: $gray-100;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -1rem;
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: $amber-800;
                border-radius: 50%;
            }

            .active-icon {
                font-size: 1.5rem;
            }

            .category-icon {
                color: $amber-800;
            }
        }

        .item-inner {
            display: flex;
            align-items: center;
            padding: 0.7rem 2rem;
        }

        p {
            margin-left: 1rem;
            font-size: 0.9rem;

            @include mobile {
                font-size: 1.2rem;
            }
        }

        .category-icon {
            font-size: 1.5rem;

            @include mobile {
                font-size: x-large;
            }
        }
    }

    .move-to-new-drawer-page {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 0.7rem 3rem;
        border: 2px solid $amber-800;
        border-radius: 1rem;
        color: $amber-900;
        font-weight: 700;
        white-space: nowrap;
        cursor: pointer;

        .add-drawer-icon {
            margin-right: 0.3rem;
            font-size: 1.4rem;
        }

        &:hover {
            background-color: $amber-800;
            color: $gray-50;
        }
    }

    .non-login {
        margin-top: 5rem;
    }
}
