@import "styles";

.best-card-component {
    background-color: rgba($color: $deep-purple-300, $alpha: 0.5);
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    position: relative;
    padding: 0.7rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: $deep-purple-600;
    }

    .drawer-title {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        color: $gray-100;
        font-weight: bold;
    }

    .drawer-desc {
        margin-top: 1.5rem;
        font-size: 0.8rem;
        color: rgba($color: $gray-200, $alpha: 0.8);
        font-weight: 600;
    }

    .bottom-area {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    .star-area,
    .fork-area {
        display: flex;
        align-items: center;

        p {
            font-size: 0.7rem;
            color: $gray-50;
            font-weight: 600;
        }

        .star-icon {
            color: $amber-400;
            margin-right: 5px;
        }

        .fork-icon {
            color: $gray-50;
            font-size: 1.3rem;
            margin-right: 5px;
        }
    }

    .star-area {
        margin-right: 1rem;
    }
}
