@import "styles";

.new-card {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 34rem;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $gray-50;
    }

    .page-desc {
        font-size: 0.8rem;
        font-weight: bold;
        color: $gray-300;
    }

    .page-desc + .page-desc {
        margin-top: 0.2rem;
    }

    > div,
    form > div {
        margin-top: 1.5rem;
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        color: $gray-100;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 0.8rem;
    }

    input,
    textarea,
    .drawer-list {
        border: 2px solid rgba($color: $gray-100, $alpha: 0.5);
        border-radius: 0.3rem;
        color: $gray-50;
        background-color: transparent;
        // width: 100%;
        font-size: 1.1rem;
        padding: 7px;

        &:focus {
            border-color: $amber-800;
        }
    }

    input {
        height: 2.5rem;
        width: 100%;
    }

    textarea {
        height: 5rem;
        font-size: 1.3rem;
        width: 100%;
    }

    .drawer-list {
        width: 50%;
    }

    .btn-area {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
