@import "styles";

.new-card {
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $gray-800;
    }

    .page-desc {
        font-size: 0.8rem;
        color: $gray-700;
    }

    .page-desc + .page-desc {
        margin-top: 0.2rem;
    }

    > div {
        margin-top: 1.5rem;
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;
        display: inline-block;
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
