@import "styles";

.drawer-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .drawer-contents {
        flex: 1;
    }

    h2 {
        font-size: 1.1rem;
        color: $gray-700;

        @include mobile {
            font-size: 1.2rem;
        }
    }

    .title-area {
        margin-bottom: 1rem;
    }

    .desc {
        margin-top: 0.7rem;
        font-size: 1rem;
        font-weight: bold;
        color: rgba($color: $gray-600, $alpha: 0.7);

        @include mobile {
            font-size: 1rem;
        }
    }

    .tag-list {
        display: flex;
        margin-top: 1rem;

        li {
            font-size: 0.9rem;
            background-color: $deep-purple-300;
            color: $gray-50;
            padding: 2px 8px;
            border-radius: 4px;
            font-weight: 500;

            @include mobile {
                font-size: 0.9rem;
            }
        }

        li + li {
            margin-left: 5px;
        }
    }
}
