@import "styles";

.card-component {
    margin: 1rem;
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 12rem;
    border: 2px solid rgba($color: $gray-100, $alpha: 0.5);
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        border-color: $amber-800;
        border-width: 2px;
    }

    .text-contents {
        padding: 10px;
        background-color: white;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        height: 100%;
        margin-top: 2.5rem;
    }

    .card-component-title {
        margin-bottom: 3px;
        font-weight: 500;
        font-size: 1.2rem;
        color: $gray-900;
    }

    .card-component-desc {
        font-size: 0.9rem;
        color: $gray-700;
    }

    .card-component-url {
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 10px;
        font-size: 0.7rem;
        color: $gray-400;
    }
}
