@import "styles";

.card-component {
    margin: 1rem;
    display: inline-block;
    position: relative;
    width: 25rem;
    height: 10rem;
    border: 2px solid rgba($color: $gray-100, $alpha: 0.5);
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        border-color: $amber-800;
        border-width: 2px;
    }

    .text-contents {
        padding: 12px 15px;
        background-color: transparent;
        height: 100%;
    }

    .card-component-title {
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 1.2rem;
        color: $amber-800;
    }

    .card-component-desc {
        font-size: 0.9rem;
        color: $gray-50;
    }

    .card-component-url {
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 10px;
        font-size: 0.7rem;
        color: $gray-400;
    }
}
