@import "styles";

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

textarea {
    resize: none;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-contents {
    width: 100%;
    overflow-y: auto;
    background-color: $gray-100;
    transition-duration: 2s;

    .main-contents-body {
        padding: 1rem;
    }
}

.corner-btn-area {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    color: $gray-400;

    .corner-btn {
        border-radius: 5px;

        &:hover {
            background-color: $gray-200;
            color: $gray-700;
        }
    }

    .corner-btn + .corner-btn {
        margin-left: 5px;
    }
}
